{% extends 'priceapp/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_content %}
    <div>
        <div class="wrap">
            <div class="Section-content">
                <div class="Order-block Order-block_OPEN" id="login">
                    <header class="Section-header Section-header_sm">
                        <h2 class="Section-title">
                            Инструкция
                        </h2>
                    </header>
                    <div class="Cards" style="width: 100%">
                        <div class="Cart" style="margin-left: 10px;">
                            <video src="{% static '2023-06-29 19-02-30.mkv' %}"
                                   controls class="video-instruction"></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}